<div class="quiz-container">
  <div *ngIf="finished; else quiz" style="height: 100%">
    <div class="results">
      <div>Your result is {{ calculatePercent() }}%</div>
      <button (click)="resetQuiz()">Try again!</button>
    </div>
  </div>
  <ng-template #quiz>
    <div *ngIf="questions[questionIndex]; let currentQuestion">
      <p>{{ questionIndex + 1 }}. <span [innerHTML]="formatTitle()"></span></p>
      <ul class="answers">
        <li *ngFor="let answer of currentQuestion.answers; let i = index" class="answer">
          <input
            [id]="i"
            type="radio"
            (change)="answerQuestion(answer)"
            [checked]="answeredQuestions[questionIndex] && answeredQuestions[questionIndex].answer === answer"
          />
          <label class="answer__label" [for]="i">
            {{ answer }}
          </label>
        </li>
      </ul>
      <div class="navigation-buttons">
        <button [disabled]="!questionIndex" (click)="previousQuestion()">
          Prev
        </button>
        <button (click)="nextQuestion()">{{ questionIndex === questions.length - 1 ? "Done" : "Next" }}</button>
      </div>
    </div>
  </ng-template>
</div>
